<app-nav></app-nav>
<section class="cont-muestra">
    
    <div class="titulo">
        <h2>{{propiedad.titulo}}</h2>
    </div>

    <div class="cont-txt-img">

        <div>
            @for (item of propiedad.listaImg; track $index) {
            <img [src]="item.url" alt="">
            }
        </div>

        <div class="info">

            <div>
                <p>Direccion: {{propiedad.direccion}}</p>
                <p>Ciudad: {{propiedad.ciudad}}</p>
                <p>Provincia: {{propiedad.provincia}}</p>
                <p>Ambientes: {{propiedad.ambientes}}</p>
                <p>Baños: {{propiedad.banos}}</p>
                <p>Precio: {{propiedad.precio}}</p>    
            </div>
        </div>
    </div>

    <div id="descripcion">
        <h4>Descripcion</h4>
        <p>{{propiedad.descripcion}}</p>
    </div>

</section>

<section class="otras-prop">

</section>