<app-nav></app-nav>


<div class="titulo">
    <h2>{{propiedad.titulo}}</h2>
</div>

<section class="cont-muestra">

   

     <div class="cont-txt-img">

        <div class="galeria-contenedor">
            <button class="flecha izquierda" (click)="anteriorImagen()" [disabled]="indiceImagenActual === 0">
                &lt;
            </button>
            <img [src]="propiedad.listaImg[indiceImagenActual]?.url" alt="" class="imagen-galeria">
            <button class="flecha derecha" (click)="siguienteImagen()" [disabled]="indiceImagenActual === propiedad.listaImg.length - 1">
                &gt;
            </button>
        </div>


        <div class="contacto">
            
            <div class="cont-contacto">
                
                <form action="/enviar" method="POST">
                    <h2>Contactanos</h2>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
            
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="celular">Numero telefonico:</label>
                    <input type="text" id="celular" name="nombre" required>
            
                    <label for="mensaje">Mensaje:</label>
                    <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
            
                    <button class="btnform" type="submit">Enviar</button>
                </form>

            </div>
        </div>
        
    </div>

  

</section>

<section class="info-propiedad">

    <div class="info">
      <h3>Detalles de la propiedad</h3>
      <p>Dirección: {{propiedad.direccion}}</p>
      <p>Ciudad: {{propiedad.ciudad}}</p>
      <p>Provincia: {{propiedad.provincia}}</p>
      <p>Ambientes: {{propiedad.ambientes}}</p>
      <p>Baños: {{propiedad.banos}}</p>
      <p>Precio: ${{propiedad.precio}}</p>
    </div>
  
    <div id="descripcion">
      <h4>Descripción</h4>
      <p>{{propiedad.descripcion}}</p>
    </div>
  
  </section>

<app-footer></app-footer>