<footer>


         <div class="contacto">
            <h4>Contactanos</h4>
            <ul>
                <li>
                    <div>
                        <img src="img/ubicacion.png" alt="">
                        <p>Avenida Colon 2000</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="img/ubicacion.png" alt="">
                        <p>Avenida Pedro Luro 2500</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="img/mensaje.png" alt="">
                        <p>InmobiliariaSayagoGmail.com</p>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="img/telefono.png" alt="">
                        <p>226544333222</p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="navegacion-rapida">
            <h4>Navegacion rapida</h4>
            <ul>
                <li>
                    <div>
                        <img src="img/hogar.png" alt="">
                        <a href="">Inicio</a>
                    </div>
                   
                </li>
                <li>
                    <div>
                        <img src="img/ingenieria.png" alt="">
                        <a href="">Propiedades</a>
                    </div>
                    
                </li>
                <li>
                    <div>
                        <img src="img/nosotros.png" alt="">
                        <a href="">Nosotros</a>
                    </div>
                   
                </li>
            </ul>
        </div>

        <div class="redes">
            <h4>Seguinos en las redes</h4>
            <ul>
                <li>
                    <div>
                        <img src="img/ig.png" alt="">
                        <a target="_blank" href="">Instagram</a>
                    </div>
                    
                </li>
                <li>
                    <div>
                        <img src="img/fb.png" alt="">
                        <a target="_blank" href="">Facebook</a>
                    </div>
                </li>
                <li>
                    <div>
                        <img src="img/linkedin.png" alt="">
                        <a target="_blank" href="">Linkedin</a>
                    </div>
                </li>
            </ul>
        </div>


        

</footer>
