<nav>
    <div class="nav-logo">
      <a href="" class="logo">Inmobiliaria Sayago</a>
    </div>
  
    <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  
    <div class="nav-links" [class.active]="isMenuOpen">
      <ul>
        <li><a href="" class="alist">Inicio</a></li>
        <li class="dropdown">
          <a class="alist" (click)="toggleDropdown()">Propiedades</a>
          @if (isDropdownOpen == true) {
            <ul class="dropdown-menu">
              <li><a href="" class="alist">Venta</a></li>
              <li><a href="" class="alist">Alquiler</a></li>
            </ul>
          }
        </li>
        <li><a href="" class="alist">Nosotros</a></li>
      </ul>
    </div>
  
    <div class="nav-login">
      <a href=""><img src="img/login2.png" alt=""></a>
    </div>
  </nav>
  